
  <ul class='operations' >
    <li class='{{method}} operation' id='{{resourceName}}_{{nickname}}_{{method}}_{{number}}'>
      <div class='heading'>
        <h3>
          <span class='http_method'>
          <a href='#!/{{resourceName}}/{{nickname}}_{{method}}_{{number}}' class="toggleOperation">{{method}}</a>
          </span>
          <span class='path'>
          <a href='#!/{{resourceName}}/{{nickname}}_{{method}}_{{number}}' class="toggleOperation">{{path}}</a>
          </span>
        </h3>
        <ul class='options'>
          <li>
          <a href='#!/{{resourceName}}/{{nickname}}_{{method}}_{{number}}' class="toggleOperation">{{{summary}}}</a>
          </li>
        </ul>
      </div>
      <div class='content' id='{{resourceName}}_{{nickname}}_{{method}}_{{number}}_content' style='display:none'>
        {{#if notes}}
        <h4>Подробное описание</h4>
        <p>{{{notes}}}</p>
        {{/if}}
        {{#if type}}
          <h4>Формат ответа</h4>
          <p><span class="model-signature" /></p>
          <br/>
          <div class="response-content-type" />
        {{/if}}
        <form accept-charset='UTF-8' class='sandbox'>
          <div style='margin:0;padding:0;display:inline'></div>
          {{#if parameters}}
          <h4>Параметры запроса</h4>
          <table class='fullwidth'>
          <thead>
            <tr>
            <th style="width: 100px; max-width: 100px">Параметр</th>
            <th style="width: 310px; max-width: 310px">Значение</th>
            <th style="width: 200px; max-width: 200px">Описание</th>
            <th style="width: 100px; max-width: 100px">Тип параметра</th>
            <th style="width: 220px; max-width: 230px">Тип данных</th>
            </tr>
          </thead>
          <tbody class="operation-params">

          </tbody>
          </table>
          {{/if}}
          {{#if responseMessages}}
          <div style='margin:0;padding:0;display:inline'></div>
          <h4>Коды ошибок</h4>
          <table class='fullwidth'>
            <thead>
            <tr>
              <th>HTTP-код</th>
              <th>Описание</th>
            </tr>
            </thead>
            <tbody class="operation-status">
            
            </tbody>
          </table>
          {{/if}}
          {{#if isReadOnly}}
          {{else}}
          <div class='sandbox_header'>
            <input class='submit' name='commit' type='button' value='Отправить!' />
            <a href='#' class='response_hider' style='display:none'>Скрыть ответ</a>
            <img alt='Throbber' class='response_throbber' src='images/throbber.gif' style='display:none' />
          </div>
          {{/if}}
        </form>
        <div class='response' style='display:none'>
          <h4>URL запроса</h4>
          <div class='block request_url'></div>
          <h4>Ответ</h4>
          <div class='response_body'></div>
          <h4>Код ответа</h4>
          <div class='block response_code'></div>
          <h4>Заголовки ответа</h4>
          <div class='block response_headers'></div>
        </div>
      </div>
    </li>
  </ul>
